@import 'variables';

/* Game options - That appear in the stripe at the top of the screen
-------------------------------------------------- */
.top-game-options   {
  position:absolute;
  top:9px;
  right:60px;
}
.top-game-options__join   {

}

@media (min-width: @screen-sm-min) {
  .top-game-options {
    top:20px;
    right:0;
  }

}


/* Game info col styles
-------------------------------------------------- */

.sidebar__game-title   {
  font-size:1.7em;
  font-weight: bold;
  display:inline-block;
  margin:0;
  text-align:left;
}
.sidebar__game-title a,
.sidebar__game-title a:visited  { color:#666; }

.sidebar__content {
  border-bottom:1px dotted @light-brand;
}


.sidebar__game-img   {
  margin-bottom:10px;
  width:70px;
  display:inline-block;
  border:5px solid #fff;
  margin-top:-10px;
  margin-left:12px;
  vertical-align:middle;
}

.sidebar__activity {
  margin-bottom:20px;
}


@media (min-width: @screen-sm-min) {
  .sidebar__game-img {
    display:block;
    margin:0 15px 0;
    width:auto;
    border:none;
  }

  .sidebar__game-title {
    padding:0 15px;
    margin:10px 0 10px;
    text-align:center;
    display:block;
  }

  .sidebar__content {
    border:none;
  }

}


.user-game-relationship               { margin:20px padding:10px 8px 10px 10px; }
.user-game-relationship .user-image   { width:40px; max-width:40px; margin-right:10px; }

.user-game-relationship__user-status   { margin-left:50px; }
.user-game-relationship__new-post      { margin:10px 0 10px 50px;  }

/* Game posts styles
-------------------------------------------------- */
.post       { font-size:1.2em; }

.post__title,
.post h1 {
  margin-top:0;
}

.post .btn {
  text-decoration: none;
}

.post__author-wrapper {
  float:left;
  margin:0 15px 15px 0;
  width:120px;
}

.post__author-info {

}

.post__prev-post,
.post__next-post {


}

.post__prev-post {
  margin-top:4px;
  margin-bottom:15px;
  display:block;

}


.post__next-post {
  float:right;
  margin-bottom:15px;
  font-size:1.5em;
}


.post .last-post-panel     { background:#28a4c9; padding:10px; }
.post .post-info           { font-size:0.9em; font-style: italic; }

.tagged-characters {
  float:right;
  display:block;
  width:80px;
  margin-left:15px;
  margin-top:-21px;
}


.tagged-characters__character,
.tagged-characters__character:visited {
  padding:5px;
  display:block;
  margin:0 0 15px;
  background:#fff;
  border:1px solid #eee;
  -webkit-transition:all 200ms;
  transition:all 200ms;
}
.tagged-characters__character:hover,
.tagged-characters__character:active  {
  background:@light-brand;
  border-color:@light-brand;
}
.tagged-characters__character img {
  width:100%;
  height:auto;
}
.tagged-characters__title {
  font-size:0.85em;
  text-align: center;
  margin:0 12px 10px 0;
}

@media (min-width: @screen-sm-min) {

  .tagged-characters        {  }
}

@media (min-width: @screen-md-min) {

  .tagged-characters {
    width:96px;
    margin-right:-20px;
  }

}

/* Post summaries (game homepage and game > posts)
-------------------------------------------------- */

.post-summary {
  clear:left;
  margin-bottom:20px;
  font-size: 1.2em;
}

.post-summary__excerpt {
  font-size:0.9em;
}

.post-summary__title {
  font-weight:bold;
  font-size:1em;
  text-decoration: none;
  margin:0 0 5px;
}

.post-summary__title a,
.post-summary__title a:visited {
  text-decoration: none;
}

.post-summary__date {
  color:#777;
  font-size:0.7em;
  margin-bottom:4px;
  line-height:1em;
}

.post-summary__date:before {
  color:#ccc;
}

.post-summary__author {
  float:left;
  width:45px;
  margin:0 5px 10px -5px;
  display:block;
  padding:5px;
  transition:background 200ms;
  text-decoration:none;
}
.post-summary__author:hover {
  background:@light-brand;
}
@media (min-width: @screen-sm-min) {
  .post-summary {
    margin-bottom:16px;
  }

  .post-summary__title {
    font-size:1.2em;
  }

  .post-summary__author {
     width:64px;
     margin:0 10px 15px -5px;
  }
}

@media (min-width: @screen-md-min) {



}

/* Game home
-------------------------------------------------- */
.game-home__title {
  margin-top:0;
}

.post-calendar						{ border-collapse:collapse; border:0; font-size:0.8em; width:100%; }
.post-calendar th					{ text-align:center; font-weight:bold; line-height:1.6em; }
.post-calendar td					{ text-align:center; }
.post-calendar__month				{ background:@bg-brand; margin:0 2px 2px 0; border:2px solid #fff; height:24px; }
.post-calendar__year				{ text-align:left; width:30px; }
.post-calendar a,
.post-calendar a:visited            { text-decoration: none; display:block; height:24px; padding-top:3px; }
.post-calendar a:visited            { color:@contrasting-brand; }
.post-calendar a:hover,
.post-calendar a:active             { background:@light-brand; color:#fff; }