@import 'variables';

/* Profile layout - Image on right overlaps the stripe
-------------------------------------------------- */

@media (min-width: @screen-sm-min) {
  .user-profile-layout   {
    margin-top:-180px;
  }

  .user-profile-layout .container-fluid   {
    overflow:hidden;
  }

  .user-profile-layout .content-block {
    margin-top:180px; /* To match the offset */
  }

  .user-profile-layout .content-block {

  }

  .user-profile-layout .secondary {
    margin-top:180px; /* To match the offset - but not until it gets shown as a third column */
  }
}

/* Public profile
-------------------------------------------------- */


.user-profile__details-wrapper:before {
  clear:both;
}


@media (min-width: @screen-sm-min) {


  .user-profile__img-wrapper {
    padding-right:0;
  }

  .user-profile__gameactivity{
    padding-right:0;
  }
}




/* User image
-------------------------------------------------- */
.user-profile__user-img {
  margin-right:10px;
  width:100%;
}

.user-profile__user-img img {
  width:100%;
  height:auto;
}

@media (min-width: @screen-sm-min) {
  .user-profile-layout .user-image__status {
    margin:-15px 15px 10px;
  }

  .user-profile__user-img {
    border:15px solid @light-bg;
    margin-top:-180px;
  }
}

/* Social icons
-------------------------------------------------- */

.user-profile__social-icons .btn {
  font-size:0.8em;
}

@media (min-width: @screen-sm-min) {
  .user-profile__social-icons {
    margin:10px 15px 10px;
  }
}