/* Variables
-------------------------------------------------- */
@dark-brand: #56742A;
@light-brand: #fff;
@contrasting-brand: #4C818F;
@bg-brand: #DAD5BF;

/* Common screen sizes for media queries
-------------------------------------------------- */
@screen-sm-min: 768px;
@screen-sm-max: 767px;
@screen-md-min: 992px;
@screen-md-max: 991px;
@screen-lg-min: 1200px;
@screen-lg-max: 1199px;
@screen-max-width: 1300px;


/* Layout styles
-------------------------------------------------- */

body					{ font: Georgia, serif; color:#555; background:#DAD5BF; }

.main-content-wrapper   {  }
.main-content-wrapper .container-fluid   { overflow:hidden; }
.navbar                 { margin:0; }
.sidebar                { background:@light-brand; z-index:100; }
.secondary              { padding-left:20px; }
.main                   { background:@light-brand; z-index:200; padding-bottom:15px; padding-top: 20px; }
.footer                 { background-color: #f5f5f5; padding:15px 0; }
.footer-bar             { background:#000; }

@media (min-width: @screen-sm-min) {
  .sidebar             {  padding-bottom:5000px; margin-bottom:-5000px; }/* force infinitely tall columns*/
  .navbar              { border-radius:0; }
  .main-container      { width:98%; }
}

@media (min-width: @screen-md-min) {

  .main             { padding-bottom:5000px; margin-bottom:-5000px; /* force infinitely tall columns*/ }
}

@media (min-width: 1300px) {

  .container-fluid { width:1300px; }
  .footer .container-fluid    { width:1300px; }
}

.hide-overflow { overflow:hidden; }

/* Layouts that overlap the stripe
-------------------------------------------------- */

@media (min-width: @screen-sm-min) {
  .main-content-wrapper--overlap   {
    .main-content-wrapper;
    margin-top:-80px;
  }

  .main-content-wrapper--overlap .container-fluid   {
    overflow:hidden;
  }

  .main-content-wrapper--overlap .main {
    margin-top:80px; /* To match the offset */
  }

  .main-content-wrapper--overlap .secondary {
    margin-top:75px; /* To match the offset */
  }
}



/* Navbar styles
-------------------------------------------------- */
.navbar .container-fluid  {
  position:relative;
}

.navbar-brand {
  position:absolute;
  left:65px;
  top:0px;
}

@media (min-width: @screen-sm-min) {
  .navbar-brand {
    left:140px;
    top:0px;
  }
}

/* Footer styles
-------------------------------------------------- */

.footer__facebook-box       { text-align: center; }



#copy-area                  { height:50px; background:#000; color:#fff; }
#copy-area .createdby       { float:left; display: inline-block; margin: 10px 0; }
#copy-area .navbar-nav      {  }

@media (min-width: @screen-sm-min) {
  .footer__facebook-box {
    text-align:left;
  }
}

@media (min-width: @screen-max-width) {
  .footer__first-col {
    margin-left:-15px;  /* To line the columns up*/
  }
}


/* Global styles
-------------------------------------------------- */


h1,
h2,
h3          { color:#666; }

h1:first-of-type,
h2:first-of-type,
h3:first-of-type,
h4:first-of-type  { margin-top:0; }



.user-image         { max-width:100%; height:auto; }

a         { color:@dark-brand; }


/* Shared components between layouts
-------------------------------------------------- */
.stripe   {
  background:#56742A;
  padding:20px 0;
  color:#fff;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}

@media (min-width: @screen-sm-min) {
  .stripe {
    padding:30px 0;
    border-bottom:5px solid #56742A;
    height:100px;
  }
}

.main-title,
.main-title--avoid-logo {
  color:#fff;
  text-align: center;
  font-size:2em;
  margin:0;
}



@media (min-width: @screen-sm-min) {
  .main-title {
    text-align:left;
    font-size:3em;
  }

  .main-title--avoid-logo {
    .main-title();
    margin-left:150px;
  }
}

.logo-monster,
.logo-monster--medium {
  width:66px;
  height:auto;
  position:absolute;
  top:0;
  left:3px;
  z-index:300;
}


.logo-monster--large {
  .logo-monster;
  width:100px;
}



@media (min-width: @screen-sm-min) {
  .logo-monster {
    width:90px;
    left:0;
  }

  .logo-monster--medium {
    .logo-monster;
     width:155px;
  }

  .logo-monster--large {
    .logo-monster;
    width:311px;
  }
}





/* Specific layouts
-------------------------------------------------- */
@import 'layout-games';



/* Game info col styles
-------------------------------------------------- */
.sidebar--game-info-col               {  }
.sidebar--game-info-col .game-title   { font-size:1.5em; font-weight: bold; }
.sidebar--game-info-col .game-image   { width:100%; margin-top:19px; }

.user-game-relationship               { background:palegreen; margin:20px -23px 20px -15px; padding:10px 8px 10px 10px; }
.user-game-relationship .user-image   { width:40px; max-width:40px; margin-right:10px; }

.user-game-relationship__user-status   { margin-left:50px; }
.user-game-relationship__new-post      { margin:10px 0 10px 50px;  }

.nav-sidebar--game-nav            {  }
.nav-sidebar--game-nav a,
.nav-sidebar--game-nav a:visited    { border-bottom:1px dashed grey; }

/* Game styles
-------------------------------------------------- */


.game-bg-image        { margin-left:-15px; margin-right:-15px; height:60px; background-size: cover; }
.game-bg-image--full  { height:240px; }

/* Games presented elsewhere
-------------------------------------------------- */
.game-summary-box,
.game-summary-box:visited     { padding:10px; margin-bottom:10px; display:block;background:white; text-decoration: none;  }
.game-summary-box:hover,
.game-summary-box:active      { text-decoration: none; }
.game-summary-box img         { max-width:100%; height:auto; }
.game-summary-box__game-image   {  }
.game-summary-box__title        { font-size:1.1em; font-weight:bold; margin-top:0.5em; margin-bottom: 0.5em; text-align:center; }
.game-summary-box__summary p    { font-size:0.8em; margin:0; }

.secondary .game-summary-box    { padding:0; background:none; margin:20px 0; }
.secondary__content-wrapper     {  }

@media (min-width: 768px) {
  .secondary__content-wrapper     { margin-left:15px; }
}


/* Game posts styles
-------------------------------------------------- */
.game-post            {  }
.game-post__content   { position:relative; font-size:1.2em; padding-bottom:20px;  }

.game-post__content a.next-post,
.game-post__content a.prev-post       { display:block;background:grey; padding:10px; margin-bottom:20px; color:#fff; cursor: pointer; text-align: center; }
.game-post__content a.next-post:hover,
.game-post__content a.prev-post:hover { background: indianred; }

.game-post__content a.prev-post       { position:absolute; top:0; left:-75px; width:60px; }
.game-post__content a.next-post       { float:right; width:140px; }

.game-post .last-post-panel     { background:#28a4c9; padding:10px; }
.game-post .post-info           { font-size:0.9em; font-style: italic; }
.game-post .author-info         { width:60px; height:60px; float:left; margin-top:2px; position: absolute; top:50px; left:-75px; }
.tagged-characters                    { float:right; display:block; width:96px; margin-left:15px; }
.tagged-characters__character,
.tagged-characters__character:visited { padding:8px; background:@contrasting-brand; display:block; margin:0 0 15px; }
.tagged-characters__character:hover,
.tagged-characters__character:active  { background:#269abc; }
.tagged-characters__character img     { width:80px; height:auto; }
.tagged-characters__title             { font-size:0.85em; text-align: center; margin:0 12px 10px 0; }

@media (min-width: 768px) {
  .game-post__content       { margin:0 0 0 75px; }
  .tagged-characters        {  }
}

@media (min-width: 992px) {

  .game-post__content       {  }
  .game-post__content       { margin:0 90px 0 75px;  }
  .tagged-characters        { margin:0 -113px 0 0; width:96px; }
}


@media (min-height: 810px)
{
//  .sidebar__content				{ top: 50px; position: fixed !important; }
}



